@import "variables";

body {
    background-color: $light;
}

.title {
    writing-mode: sideways-lr;
    font-size: 5rem;
}

.universes {
    font-family: 'roboto';
}

h2 {
    color: $primary;
}

.btn {
    font-family: 'BNSuper';
    box-shadow: 1px 1px 4px black;
    height: 40px;
}

.btnBack {
    font-family: 'BNSuper';
    box-shadow: 1px 1px 4px black;
    height: 40px;
    background-color: $primary;
    text-decoration: none;
    border-radius: 6%;
}

.form-label {
    margin-top: 2rem;
}

.form-control {
    border-block-end: solid 6px $dark;
    border-radius: 0px;
    width: 800px;
}

card-image {
    height: 5%;
}

input,
textarea {
    font-family: $font-family-text;
}