$primary: #DC3453;
$secondary: black;
$light: #fafafa;
$dark: rgb(43, 43, 43);

@font-face {
    font-family: 'BNSuper';
    src: url('../fonts/BNSuper-Sized.otf') format('opentype');
}

h1 {
    font-family: 'BNSuper';
}

.bnSuper {
    font-family: 'BNSuper';
}