@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700;900&display=swap');

$primary: #DC3453;
$secondary: black;
$light: #fafafa;
$dark: rgb(0, 0, 0);

@font-face {
    font-family: 'BNSuper';
    src: url('../fonts/BNSuper-Sized.otf') format('opentype');
}

h1 {
    font-family: 'BNSuper';
}

h2 {
    font-family: 'BNSuper';
}

.bnSuper {
    font-family: 'BNSuper';
}