<footer class="bg-dark p-5">
	<div class="d-flex justify-content-evenly align-item-center px-5">
		<div class"d-flex flex-column">
			<img src="{{ asset('build/images/pp-limited.png') }}" class="m-0 w-25" alt=" ...">
			<p class="m-3 roboto fw-bold fs-6 text-light">Un petit message pour vous remercier sincèrement de votre soutien précieux.
				<br>
				Votre présence et vos messages sont vraiment appréciés.
				<br>
				<br>
				Merci du fond du cœur !</p>
		</div>
		<div class="d-flex-column mt-5 align-item-center">
			<h2 class="fs-4 text-light">Contact</h2>
			<ul class="list-unstyled">
				<ul class="d-flex list-unstyled">
					<li class="m-1">
						<a type="button" href="https://twitter.com/LimitedMangas" class="text-decoration-none text-light roboto fs-5">
							{% include 'icons/twitter.svg' %}
							@limitedmangas</a>
					</li>
				</ul>
				<li class="fs-6 fw-medium text-light">Tél. +33 (0)7 00 00 00 00</li>
				<li class="fs-6 fw-medium text-light">Mail : contact@limited-manga.fr</li>
				<li class="fs-6 fw-medium text-light">Adresse : 4 bis rue Coquebert, 51100 Reims, France</li>
			</ul>
		</div>

	</div>
	<div class="d-flex-column mt-5">
		<hr class="col-8 offset-2 text-light ">
		<p class="text-center roboto text-primary mt-3">by Aimery</p>
	</div>
</footer>
